In [33]:
import pandas as pd
import numpy as np

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [5]:
# Display the first 10 rows of ‘chipo’ using the head() function.
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [7]:
# Determine the total number of entries (rows) in ‘chipo’ using shape or info()
chipo.shape

(4622, 5)

In [8]:
chipo.info

<bound method DataFrame.info of       order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa  \
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [14]:
# Use shape or columns to find the total number of columns in ‘chipo’.
len(chipo.columns)

5

In [15]:
chipo.shape[1]

5

In [16]:
# Use columns to print all the column names
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [17]:
# Utilize index to understand how the DataFrame is indexed.
df = pd.DataFrame(chipo)
df.index

RangeIndex(start=0, stop=4622, step=1)

In [18]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [21]:
# Use the value_counts() method on the ‘item_name’ column to find the most ordered item.
most_ordered_item = df['item_name'].value_counts().idxmax()
most_ordered_item

'Chicken Bowl'

In [23]:
# Find the total number of items ordered by summing the ‘quantity’ column.
total_ordered = df['quantity'].sum()
total_ordered

4972

In [24]:
# Use value_counts() on ‘choice_description’ to find the most ordered item from this column.
most_ordered_item2 = df['choice_description'].value_counts().idxmax()
most_ordered_item2

'[Diet Coke]'

In [28]:
# Convert ‘item_price’ to a float datatype using apply() and lambda.
df['item_price'] = df['item_price'].apply(lambda x: float(x))
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [29]:
# Calculate the total revenue for the dataset by summing the ‘item_price’ column.
total_revenue = df['item_price'].sum()
total_revenue

34500.16

In [30]:
# Find the total number of orders by using the nunique() function on the ‘order_id’ column.
total_orders = df['order_id'].nunique()
total_orders

1834

In [32]:
# Compute the average order value by dividing the total revenue by the number of orders.
average_order = total_revenue / total_orders
average_order

18.811428571428575

In [36]:
# Determine the total number of unique items sold using the nunique() function on the ‘item_name’ column.
total_num_unique_sold = df['item_name'].nunique()
total_num_unique_sold

50

### EXERCISE 2: Filtering & Sorting (Chipo)

In [ ]:
# Using conditional selection, find the count of products that cost more than $10. Note: the price is listed in the ‘item_price’ column.
count_high_price = df[df['item_price'] > 10]['item_name'].count()